pandas
numpy
scikit-learn
xgboost
shap
google-generativeai
langchain
langchain-google-genai
streamlit
jupyter
matplotlib
seaborn
python-dotenv
faiss-cpu
pydantic
openai
requests
sqlalchemy
tqdm
plotly
altair
jupyterlab
nbformat
ipykernel
notebook
